In [1]:
import pandas as pd

train = pd.read_csv(r"train_final.csv")

print(f'train set은 {train.shape[1]} 개의 feature를 가진 {train.shape[0]} 개의 데이터 샘플로 이루어져 있습니다.')

train.head()

train set은 24 개의 feature를 가진 2999 개의 데이터 샘플로 이루어져 있습니다.

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,Male,Loyal Customer,72,Business travel,Business,1784,1,1,4,...,2,2,3,2,5,2,0,0,0,1
1,2,Male,Loyal Customer,35,Business travel,Business,2228,2,5,5,...,2,2,2,2,4,2,0,0,8,0
2,3,Male,disloyal Customer,37,Business travel,Eco,1970,4,3,4,...,1,3,2,5,1,4,0,1,2,1
3,4,Female,Loyal Customer,20,Personal Travel,Eco,2249,5,5,1,...,1,4,1,4,1,5,0,0,0,1
4,5,Male,disloyal Customer,38,Business travel,Eco,1995,2,2,2,...,5,2,5,3,1,2,0,110,102,0

In [15]:
train_x = train.drop(["id",'Departure Delay in Minutes','Arrival Delay in Minutes'],axis=1)

In [16]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             2999 non-null   object
 1   Customer Type                      2999 non-null   object
 2   Age                                2999 non-null   int64
 3   Type of Travel                     2999 non-null   object
 4   Class                              2999 non-null   object
 5   Flight Distance                    2999 non-null   int64
 6   Seat comfort                       2999 non-null   int64
 7   Departure/Arrival time convenient  2999 non-null   int64
 8   Food and drink                     2999 non-null   int64
 9   Gate location                      2999 non-null   int64
 10  Inflight wifi service              2999 non-null   int64
 11  Inflight entertainment             2999 non-null   int64
 12  Online support                     2999 non-null   int64
 13  Ease of Online booking             2999 non-null   int64
 14  On-board service                   2999 non-null   int64
 15  Leg room service                   2999 non-null   int64
 16  Baggage handling                   2999 non-null   int64
 17  Checkin service                    2999 non-null   int64
 18  Cleanliness                        2999 non-null   int64
 19  Online boarding                    2999 non-null   int64
 20  target                             2999 non-null   int64
dtypes: int64(17), object(4)
memory usage: 492.2+ KB

In [17]:
encoded_train_x = pd.get_dummies(train_x, columns=['Gender', "Customer Type", "Type of Travel", "Class"], drop_first = True)

In [18]:
encoded_train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                2999 non-null   int64
 1   Flight Distance                    2999 non-null   int64
 2   Seat comfort                       2999 non-null   int64
 3   Departure/Arrival time convenient  2999 non-null   int64
 4   Food and drink                     2999 non-null   int64
 5   Gate location                      2999 non-null   int64
 6   Inflight wifi service              2999 non-null   int64
 7   Inflight entertainment             2999 non-null   int64
 8   Online support                     2999 non-null   int64
 9   Ease of Online booking             2999 non-null   int64
 10  On-board service                   2999 non-null   int64
 11  Leg room service                   2999 non-null   int64
 12  Baggage handling                   2999 non-null   int64
 13  Checkin service                    2999 non-null   int64
 14  Cleanliness                        2999 non-null   int64
 15  Online boarding                    2999 non-null   int64
 16  target                             2999 non-null   int64
 17  Gender_Male                        2999 non-null   bool
 18  Customer Type_disloyal Customer    2999 non-null   bool
 19  Type of Travel_Personal Travel     2999 non-null   bool
 20  Class_Eco                          2999 non-null   bool
 21  Class_Eco Plus                     2999 non-null   bool
dtypes: bool(5), int64(17)
memory usage: 413.1 KB

In [19]:
bool_columns = encoded_train_x.select_dtypes(include=['bool']).columns
encoded_train_x[bool_columns] = encoded_train_x[bool_columns].astype(int)

In [20]:
encoded_train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                2999 non-null   int64
 1   Flight Distance                    2999 non-null   int64
 2   Seat comfort                       2999 non-null   int64
 3   Departure/Arrival time convenient  2999 non-null   int64
 4   Food and drink                     2999 non-null   int64
 5   Gate location                      2999 non-null   int64
 6   Inflight wifi service              2999 non-null   int64
 7   Inflight entertainment             2999 non-null   int64
 8   Online support                     2999 non-null   int64
 9   Ease of Online booking             2999 non-null   int64
 10  On-board service                   2999 non-null   int64
 11  Leg room service                   2999 non-null   int64
 12  Baggage handling                   2999 non-null   int64
 13  Checkin service                    2999 non-null   int64
 14  Cleanliness                        2999 non-null   int64
 15  Online boarding                    2999 non-null   int64
 16  target                             2999 non-null   int64
 17  Gender_Male                        2999 non-null   int32
 18  Customer Type_disloyal Customer    2999 non-null   int32
 19  Type of Travel_Personal Travel     2999 non-null   int32
 20  Class_Eco                          2999 non-null   int32
 21  Class_Eco Plus                     2999 non-null   int32
dtypes: int32(5), int64(17)
memory usage: 457.0 KB

In [21]:
Q1 = encoded_train_x.quantile(0.25)
Q3 = encoded_train_x.quantile(0.75)
IQR = Q3 - Q1

train_no_outliers = encoded_train_x[~((encoded_train_x < (Q1 - 1.5 * IQR)) | (encoded_train_x > (Q3 + 1.5 * IQR))).any(axis=1)]
print(train_no_outliers)

      Age  Flight Distance  Seat comfort  Departure/Arrival time convenient  \
0      72             1784             1                                  1
5      18             2195             3                                  5
6      51              886             5                                  1
9      52              342             4                                  3
10      8             3464             5                                  5
...   ...              ...           ...                                ...
2994   38             2085             3                                  3
2995   58              614             1                                  1
2996   42             2207             4                                  5
2997   46             1486             3                                  4
2998   47              460             5                                  5

      Food and drink  Gate location  Inflight wifi service  \
0                  4              1                      3
5                  3              3                      5
6                  5              4                      5
9                  5              5                      5
10                 5              5                      4
...              ...            ...                    ...
2994               3              3                      3
2995               1              1                      3
2996               5              5                      5
2997               3              3                      1
2998               5              5                      4

      Inflight entertainment  Online support  Ease of Online booking  ...  \
0                          5               5                       2  ...
5                          3               5                       5  ...
6                          3               3                       3  ...
9                          4               3                       4  ...
10                         4               4                       4  ...
...                      ...             ...                     ...  ...
2994                       4               5                       2  ...
2995                       4               4                       1  ...
2996                       2               2                       4  ...
2997                       3               1                       1  ...
2998                       5               5                       4  ...

      Baggage handling  Checkin service  Cleanliness  Online boarding  target  \
0                    2                5            2                0       1
5                    4                3            5                0       0
6                    1                2            3                0       1
9                    4                4            4                0       0
10                   5                3            4                0       1
...                ...              ...          ...              ...     ...
2994                 2                4            2                1       1
2995                 1                3            1                3       0
2996                 4                3            4                4       0
2997                 3                3            4                1       0
2998                 4                4            4                5       1

      Gender_Male  Customer Type_disloyal Customer  \
0               1                                0
5               1                                0
6               0                                0
9               0                                0
10              0                                0
...           ...                              ...
2994            0                                0
2995            1                                0
2996            1                                0
2997            1                                0
2998            1                                0

      Type of Travel_Personal Travel  Class_Eco  Class_Eco Plus
0                                  0          0               0
5                                  1          1               0
6                                  1          1               0
9                                  0          0               0
10                                 0          0               0
...                              ...        ...             ...
2994                               1          1               0
2995                               0          0               0
2996                               0          0               0
2997                               1          1               0
2998                               0          0               0

[1822 rows x 22 columns]

In [22]:
from sklearn.preprocessing import MinMaxScaler

num_features = ['Age','Flight Distance']

scaler = MinMaxScaler()
train_no_outliers[num_features] = scaler.fit_transform(train_no_outliers[num_features]) 
train_no_outliers.head()

C:\Users\selffish234\AppData\Local\Temp\ipykernel_22584\1202008164.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_no_outliers[num_features] = scaler.fit_transform(train_no_outliers[num_features])

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Baggage handling,Checkin service,Cleanliness,Online boarding,target,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus
0,0.915493,0.400788,1,1,4,1,3,5,5,2,...,2,5,2,0,1,1,0,0,0,0
5,0.154930,0.496059,3,5,3,3,5,3,5,5,...,4,3,5,0,0,1,0,1,1,0
6,0.619718,0.192629,5,1,5,4,5,3,3,3,...,1,2,3,0,1,0,0,1,1,0
9,0.633803,0.066528,4,3,5,5,5,4,3,4,...,4,4,4,0,0,0,0,0,0,0
10,0.014085,0.790218,5,5,5,5,4,4,4,4,...,5,3,4,0,1,0,0,0,0,0

In [23]:
train_no_outliers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1822 entries, 0 to 2998
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1822 non-null   float64
 1   Flight Distance                    1822 non-null   float64
 2   Seat comfort                       1822 non-null   int64
 3   Departure/Arrival time convenient  1822 non-null   int64
 4   Food and drink                     1822 non-null   int64
 5   Gate location                      1822 non-null   int64
 6   Inflight wifi service              1822 non-null   int64
 7   Inflight entertainment             1822 non-null   int64
 8   Online support                     1822 non-null   int64
 9   Ease of Online booking             1822 non-null   int64
 10  On-board service                   1822 non-null   int64
 11  Leg room service                   1822 non-null   int64
 12  Baggage handling                   1822 non-null   int64
 13  Checkin service                    1822 non-null   int64
 14  Cleanliness                        1822 non-null   int64
 15  Online boarding                    1822 non-null   int64
 16  target                             1822 non-null   int64
 17  Gender_Male                        1822 non-null   int32
 18  Customer Type_disloyal Customer    1822 non-null   int32
 19  Type of Travel_Personal Travel     1822 non-null   int32
 20  Class_Eco                          1822 non-null   int32
 21  Class_Eco Plus                     1822 non-null   int32
dtypes: float64(2), int32(5), int64(15)
memory usage: 291.8 KB

In [24]:
train_x = train_no_outliers.drop(["target"], axis = 1)
train_y = train_no_outliers.target
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1822 entries, 0 to 2998
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1822 non-null   float64
 1   Flight Distance                    1822 non-null   float64
 2   Seat comfort                       1822 non-null   int64
 3   Departure/Arrival time convenient  1822 non-null   int64
 4   Food and drink                     1822 non-null   int64
 5   Gate location                      1822 non-null   int64
 6   Inflight wifi service              1822 non-null   int64
 7   Inflight entertainment             1822 non-null   int64
 8   Online support                     1822 non-null   int64
 9   Ease of Online booking             1822 non-null   int64
 10  On-board service                   1822 non-null   int64
 11  Leg room service                   1822 non-null   int64
 12  Baggage handling                   1822 non-null   int64
 13  Checkin service                    1822 non-null   int64
 14  Cleanliness                        1822 non-null   int64
 15  Online boarding                    1822 non-null   int64
 16  Gender_Male                        1822 non-null   int32
 17  Customer Type_disloyal Customer    1822 non-null   int32
 18  Type of Travel_Personal Travel     1822 non-null   int32
 19  Class_Eco                          1822 non-null   int32
 20  Class_Eco Plus                     1822 non-null   int32
dtypes: float64(2), int32(5), int64(14)
memory usage: 277.6 KB

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [26]:
x_train, x_test, y_train, y_test = train_test_split(train_x, train_y, test_size = 0.2, random_state = 42)

xgb_model = XGBClassifier()

# StratifiedKFold를 사용한 5-Fold 교차 검증
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = cross_val_score(xgb_model, x_train, y_train, cv=cv, scoring='accuracy')

In [27]:


# 교차 검증 정확도 출력
print(f"교차 검증 정확도: {cv_scores}")
print(f"평균 교차 검증 정확도: {cv_scores.mean()}")

# 테스트 데이터에 대한 예측
xgb_model.fit(x_train, y_train)
y_pred = xgb_model.predict(x_test)

# 정확도 출력
accuracy = accuracy_score(y_test, y_pred)
print(f"XGBoost 정확도: {accuracy}")

accuracy1 = accuracy_score(y_test[y_test == 0], y_pred[y_test == 0])
print(f"XGBoost 정확도(불만족을 불만족으로 예측): {accuracy1}")

accuracy2 = accuracy_score(y_test[y_test == 1], y_pred[y_test == 1])
print(f"XGBoost 정확도(만족을 비행기를 만족으로 예측): {accuracy2}")

# 혼동 행렬 출력
conf_matrix = confusion_matrix(y_test, y_pred)
print("XGBoost 혼동 행렬:")
print(conf_matrix)

# 분류 보고서 출력
class_report = classification_report(y_test, y_pred)
print("XGBoost 분류 보고서:")
print(class_report)

교차 검증 정확도: [0.92123288 0.91438356 0.93127148 0.9209622  0.94845361]
평균 교차 검증 정확도: 0.9272607447159065
XGBoost 정확도: 0.9287671232876712
XGBoost 정확도(불만족을 불만족으로 예측): 0.8020833333333334
XGBoost 정확도(만족을 비행기를 만족으로 예측): 0.9739776951672863
XGBoost 혼동 행렬:
[[ 77  19]
 [  7 262]]
XGBoost 분류 보고서:
              precision    recall  f1-score   support

           0       0.92      0.80      0.86        96
           1       0.93      0.97      0.95       269

    accuracy                           0.93       365
   macro avg       0.92      0.89      0.90       365
weighted avg       0.93      0.93      0.93       365